body {
    background-color: rgb(237,237,237)
}

h1 {
    text-align:center;
    color: blue;
    padding: 20px;
    background-color: #d7d7d7;
}

h1::after, h1::before {
    content: '______';
    color: blue;
}


p {
    padding: 20px;
}

.meutitulo{
    text-align: center;
    color: #e8b05d;
}

#paragrafo_2 {
    background-color: #d7d7d7;
}

#footer {
    text-align:right;
}