
        h1{
            text-align: center;
            color: white;
            background-color: rgb(219,44,99)
        }

        #titulo_2{
            text-align: right;
            color: #3950a3;
            font-family: verdana;
            font-size: 30px;
        }

        hr{
            width: 50%;
            text-align: center;
        }

        .paragrafo_1{
            direction: ltr;
            font-size: 2em;
            letter-spacing: 3px;
        }

        #paragrafo_2{
            font-style: italic;
            direction: rtl;
            font-size: 4em;
            word-spacing: 20px;
        }

        a {
            text-decoration: overline;
        }

        .paragrafo_3 {
            text-indent: 50px;
        }

        #frase_rasurada {
            text-decoration:line-through;
        }

        #frase_bold{
            font-weight: bold;
        }

        #outrobold{
            font-weight: bold;
        }

        #texto_uppercase{
            text-transform: uppercase;
            background-color: yellow;
        }

        #texto_lowercase{
            text-transform: lowercase;
            color: #7a39a3;
        }

        #texto_capitalize{
            text-transform: capitalize;
            font-family: arial;
            font-size: 24px;
        }


