     body {
                background-color: rgb(245,235,211)
            }
            h1 { text-align:center;
            }

            h2 {
                text-align:center;
            }

            #paragrafo1 {
                text-align:right;
            }